data/input
data/output/diseases
data/output/consultation
data/output/error_analysis/*.jpg
data/output/error_analysis_questionnaire/*.jpg
data/output/error_analysis/*.csv
data/output/error_analysis_questionnaire/*.csv
data/output/patients
src/__pycache__